// mixin
@mixin flexMix($d, $j: center) {
  display: $d;
  justify-content: $j;
  align-items: center;
}
@mixin fontMix($family, $style, $weight, $size, $height) {
  font-family: Inter;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
@mixin bgImage($height, $width, $url) {
  height: $height;
  width: $width;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url($url);
}
@mixin btnMix($width) {
  margin: 1rem 0px;
  border: none;
  background-color:$btnColor;
  border-radius: 8px;
  
  @include fontMix(Inter, normal, 500, 00.9rem, auto);
  width: $width;
  height: 30px;
  color:$mainColor;
}
